---
ci:
  # format compatible with release-please
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autofix_commit_msg: |
    chore: auto fixes from pre-commit.com hooks
    for more information, see https://pre-commit.ci
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: debug-statements
        language_version: python3

  - repo: https://github.com/crate-ci/typos
    rev: v1.14.9
    hooks:
      - id: typos

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        exclude: ".ci/hack"

  - repo: https://github.com/pycqa/flake8.git
    rev: 6.0.0
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/doc8
    rev: v1.1.1
    hooks:
      - id: doc8

  - repo: https://github.com/pycqa/pylint
    rev: v3.0.0a6
    hooks:
      - id: pylint
        pass_filenames: false
        entry: pylint lib tests
        args:
          - --output-format=colorized
        additional_dependencies:
          - .
          - ansible-core>=2.11.0
          - rich
          - pytest

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort
