# Release & publish
name: Publish

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      # release please
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python

      # build & publish to PyPI
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.6.9"
          enable-cache: false

      - name: "Set up Python"
        uses: actions/setup-python@v6 # faster than using uv to install Python (see https://docs.astral.sh/uv/guides/integration/github/#setting-up-python)
        with:
          python-version-file: "pyproject.toml"

      - name: Build package
        run: uv build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
        with:
          user: __token__
          password: ${{ secrets.PYPI_PASSWORD }}
        if: ${{ steps.release.outputs.release_created }}

      - name: Verify package
        run: uvx --refresh -- ansible-variables --version
        if: ${{ steps.release.outputs.release_created }}
